

input {
  color: #0e0d0d; /* Dark text color for input fields */
  background-color: #ffffff; /* White background for input fields */
  width: 100%;
  height: 40px;
  font-size: 1em;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.blacktext{
  color: #000 !important;
}

.progress {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 15px;
}

@font-face {
  font-family: 'MyCustomFont1';
  src: url('/fonts/NightmareStory-BWV8V.ttf') format('truetype');
  /* You can add additional formats for better browser support */
}

/* Define a second font weight if you have one */
@font-face {
  font-family: 'MyCustomFont2';
  src: url('/fonts/BodycounttypeprrsonaluseNews-Ea7Vg.otf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'MyCustomFont3';
  src: url('/fonts/DeathridgeDemo-8MyvJ.otf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'MyCustomFont4';
  src: url('/fonts/NightmarePills-BV2w.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'MyCustomFont5';
  src: url('/fonts/ButtongrinderfreepersonaluseDi-5yWn8.otf') format('truetype');
  font-weight: bold;
}
body {
  font-family: 'MyCustomFont4', sans-serif;
}



/* General body styling */

body {
  color: #ffffff;
  
  font-size: 30px;
  margin: 0;
  padding: 0;

}

/* Game Page Background */
.game-page {
   background-image: url('/images/background5.png');
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 250px;
}

/* Home Page Styling */
.home-page {
  background-image: url('/images/HD-wallpaper-darkness-in-the-forest-creepy-forest-nature-dark.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Login/Signup Page Background */
.login-page {
  background-image: url('/images/background4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Auth Container */
.auth-container {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 600px;
  text-align: center;
}

/* Header styling */
header {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border-bottom: 5px solid #666666;
  background: #1f1e1e; /* Gray background for header */
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

/* Navigation links container styling */
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1em;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Form styling */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.submit-button {
  background-color: #1d4ed8; 
  color: #ffffff; 
  padding: 15px 30px; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for background color and hover effect */
}

.submit-button:hover {
  background-color: #2563eb; 
  transform: scale(1.05); 
}

.toggle-button {
  margin-top: 10px;
  background: none;
  border: none;
  color: #1d4ed8; 
  cursor: pointer;
  font-size: 1em;
}

.toggle-button:hover {
  text-decoration: underline;
}

/* Font face declarations */
@font-face {
  font-family: 'Creepy-Regular';
  src: url('/fonts/Creepster-Regular.ttf') format('truetype');
}

.creepster {
  font-family: 'MyCustomFont1', cursive;
  font-size: 12rem; 
  color: #ffffff; 
  text-align: center;
}

.fade-in-title {
  animation: fadeIn 20s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.one-word-by-one {
  color: pink;
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end);
}


.play-button {
  padding: 30px 60px; /* Large button padding */
  font-size: 3rem; /* Larger font size */
  color: #ff6666; /* Button text color */
  font-family: 'Creepy-Regular', sans-serif;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 50px;

  border: none;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  transition: background-color 0.3s, transform 0.3s; 
}

.play-button:hover {
  
  color: #ffffff; 
  transform: scale(1.05); 
}

.choice-button {
  margin: 20px;
}

.choice-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 16px; 
  text-align: center; 
}

.button-container {
  display: flex;
  gap: 16px; /* Adjust the gap between Next and Back buttons */
  margin-top: 20px; /* Adjust spacing above the buttons */
  justify-content: center; /* Center align buttons horizontally */
  width: 100%; /* Ensure full width for centering */
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.next-button {
  background-color: #1c361c; 
  color: white;

}

.back-button {
  background-color: #42211f; 
  justify-content: center;
  align-items: center;
}


/* STYLES FOR THE DONATION FORM */

.form-radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  flex-shrink: 0;
  border-radius: 100%;
  border-width: 2px;
}

.form-radio:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media not print {
  .form-radio::-ms-check {
    border-width: 1px;
    color: transparent;
    background: inherit;
    border-color: inherit;
    border-radius: inherit;
  }
}

.form-radio:focus {
  outline: none;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3e%3cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3e%3c/svg%3e");
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
  background-repeat: no-repeat;
  padding-top: 0.5rem;
  padding-right: 2.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;
}

.form-select::-ms-expand {
  color: #a0aec0;
  border: none;
}

#donation-container {
  font-family:  ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

@media not print {
  .form-select::-ms-expand {
    display: none;
  }
}

@media print and (-ms-high-contrast: active), print and (-ms-high-contrast: none) {
  .form-select {
    padding-right: 0.75rem;
  }
}
.escape-page {
  background-color: black;
  color: white;
  font-family: 'Creepster', cursive;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.credits-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.credits {
  animation: scroll-up 15s linear;
}

@keyframes scroll-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.credits-play-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}